<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Категорії</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<h2 style="margin-top: 4rem; margin-left: 5.2rem; margin-bottom: 1rem">Категорії</h2>
<ul class="list-group" style="margin-left: 4.5rem; margin-top: 2rem">
    <li class="list-group-item border-0">
        <input class="form-check-input me-1" type="checkbox" value="">
        <a href="admin-edit-categories.html" target="_blank" class="form-check-label" style="color: black">Фрукти, овочі, соління</a>
        <ul class="list-group">
            <li class="list-group-item border-0">
                <input class="form-check-input me-1" type="checkbox" value="">
                <a href="" class="form-check-label" style="color: black">Овочі</a>
                <ul class="list-group">
                    <li class="list-group-item border-0">
                        <input class="form-check-input me-1" type="checkbox" value="">
                        <a href="" class="form-check-label" style="color: black">Баклажан</a>
                    </li>
                    <li class="list-group-item border-0">
                        <input class="form-check-input me-1" type="checkbox" value="">
                        <a href="" class="form-check-label" style="color: black">Гарбуз</a>
                    </li>
                    <li class="list-group-item border-0">
                        <input class="form-check-input me-1" type="checkbox" value="">
                        <a href="" class="form-check-label" style="color: black">Кабачок</a>
                    </li>
                    <li class="list-group-item border-0">
                        <input class="form-check-input me-1" type="checkbox" value="">
                        <a href="" class="form-check-label" style="color: black">Капуста</a>
                    </li>
                    <li class="list-group-item border-0">
                        <input class="form-check-input me-1" type="checkbox" value="">
                        <a href="" class="form-check-label" style="color: black">Коренеплоди</a>
                    </li>
                    <li class="list-group-item border-0">
                        <input class="form-check-input me-1" type="checkbox" value="">
                        <a href="" class="form-check-label" style="color: black">Кукурудза свіжа</a>
                    </li>
                    <li class="list-group-item border-0">
                        <input class="form-check-input me-1" type="checkbox" value="">
                        <a href="" class="form-check-label" style="color: black">Огірки</a>
                    </li>
                    <li class="list-group-item border-0">
                        <input class="form-check-input me-1" type="checkbox" value="">
                        <a href="" class="form-check-label" style="color: black">Перець</a>
                    </li>
                    <li class="list-group-item border-0">
                        <input class="form-check-input me-1" type="checkbox" value="">
                        <a href="" class="form-check-label" style="color: black">Помідори</a>
                    </li>
                    <li class="list-group-item border-0">
                        <input class="form-check-input me-1" type="checkbox" value="">
                        <a href="" class="form-check-label" style="color: black">Цибуля, часник</a>
                    </li>
                    <li class="list-group-item border-0">
                        <input class="form-check-input me-1" type="checkbox" value="">
                        <a href="" class="form-check-label" style="color: black">Овочеві набори</a>
                    </li>
                </ul>
            </li>
            <li class="list-group-item border-0">
                <input class="form-check-input me-1" type="checkbox" value="">
                <a href="" class="form-check-label" style="color: black">Фрукти</a>
                <ul class="list-group">
                    <li class="list-group-item border-0">
                        <input class="form-check-input me-1" type="checkbox" value="">
                        <a href="" class="form-check-label" style="color: black">Банан</a>
                    </li>
                    <li class="list-group-item border-0">
                        <input class="form-check-input me-1" type="checkbox" value="">
                        <a href="" class="form-check-label" style="color: black">Виноград</a>
                    </li>
                    <li class="list-group-item border-0">
                        <input class="form-check-input me-1" type="checkbox" value="">
                        <a href="" class="form-check-label" style="color: black">Груша</a>
                    </li>
                    <li class="list-group-item border-0">
                        <input class="form-check-input me-1" type="checkbox" value="">
                        <a href="" class="form-check-label" style="color: black">Кавун, диня</a>
                    </li>
                    <li class="list-group-item border-0">
                        <input class="form-check-input me-1" type="checkbox" value="">
                        <a href="" class="form-check-label" style="color: black">Кісточкові</a>
                    </li>
                    <li class="list-group-item border-0">
                        <input class="form-check-input me-1" type="checkbox" value="">
                        <a href="" class="form-check-label" style="color: black">Тропічні фрукти</a>
                    </li>
                    <li class="list-group-item border-0">
                        <input class="form-check-input me-1" type="checkbox" value="">
                        <a href="" class="form-check-label" style="color: black">Цитрусові</a>
                    </li>
                    <li class="list-group-item border-0">
                        <input class="form-check-input me-1" type="checkbox" value="">
                        <a href="" class="form-check-label" style="color: black">Яблука</a>
                    </li>
                    <li class="list-group-item border-0">
                        <input class="form-check-input me-1" type="checkbox" value="">
                        <a href="" class="form-check-label" style="color: black">Ягоди</a>
                    </li>
                </ul>
            </li>
            <li class="list-group-item border-0">
                <input class="form-check-input me-1" type="checkbox" value="">
                <a href="" class="form-check-label" style="color: black">Фреші та смузі</a>
            </li>
            <li class="list-group-item border-0">
                <input class="form-check-input me-1" type="checkbox" value="">
                <a href="" class="form-check-label" style="color: black">Фруктові делікатеси</a>
            </li>
            <li class="list-group-item border-0">
                <input class="form-check-input me-1" type="checkbox" value="">
                <a href="" class="form-check-label" style="color: black">Зелень</a>
            </li>
            <li class="list-group-item border-0">
                <input class="form-check-input me-1" type="checkbox" value="">
                <a href="" class="form-check-label" style="color: black">Салат</a>
            </li>
            <li class="list-group-item border-0">
                <input class="form-check-input me-1" type="checkbox" value="">
                <a href="" class="form-check-label" style="color: black">Гриби свіжі</a>
            </li>
            <li class="list-group-item border-0">
                <input class="form-check-input me-1" type="checkbox" value="">
                <a href="" class="form-check-label" style="color: black">Соління, мариновані страви</a>
            </li>
            <li class="list-group-item border-0">
                <input class="form-check-input me-1" type="checkbox" value="">
                <a href="" class="form-check-label" style="color: black">Сушені фрукти, гриби, горіхи</a>
            </li>
        </ul>
    </li>
</ul>
<div class="d-flex justify-content-center" style="margin-bottom: 3rem; margin-top: 2rem">
    <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="width: 7rem; margin-right: 4rem">Видалити</button>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 25rem">
            <div class="modal-content">
                <div class="modal-header" style="background-color: lightgrey">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрити"></button>
                </div>
                <div class="modal-body" style="margin-top: 1.5rem">
                    Ви впевнені?
                </div>
                <div class="d-flex justify-content-center modal-footer border-0" style="margin-top: 0.2rem">
                    <button type="button" class="btn btn-outline-secondary btn-center" data-bs-dismiss="modal" style="margin-right: 2rem; width: 7rem">Ні</button>
                    <button type="button" class="btn btn-outline-dark" style="width: 7rem">Так</button>
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-outline-dark" style="width: 7rem">Додати</button>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>