<!doctype html>
<html lang="en">
<head>
    <style>
        #row > div {
            display: flex;
            justify-content: center;
        }

        #categories:hover {
            background-color: #f0f1f2;
        }
    </style>
    <script>
        function handler() {
            let pageSize = document.getElementById('pageSize').value;
            let categoryId = document.getElementById('categoryId').value;
            let activePage = document.getElementById('activePage').value;
            let productNamePattern = document.getElementById('name').value;

            let url = '/products?categoryId=' + categoryId + '&pageSize=' + pageSize +
                '&activePage=' + activePage + '&productName=' + productNamePattern;
            window.open(url, "_self")
        }
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${category.name}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<div th:insert="~{aggregate-header :: header}"></div>
<div style="margin-left: 5.2rem">
    <div class="row" style="margin-top: 1rem; margin-bottom: 1.5rem">
        <div class="col">
            <h2 th:text="${category.name + ' (' + aggProdCount + ')'}"></h2>
        </div>
        <div class="col">
            <div class="input-group">
                <input id="pageSize" th:value="${pageSize}" hidden="true" type="text" class="form-control">
                <input id="categoryId" th:value="${category.id}" hidden="true" type="text" class="form-control">
                <input id="activePage" th:value="${1}" hidden="true" type="text" class="form-control">
                <input id="name" th:value="${productName}" type="text" class="form-control"
                       style="margin-left: 7rem; max-width: 350px; max-height: 40px; border-top-left-radius: 10px; border-bottom-left-radius: 10px">
                <button onclick="handler()" class="btn btn-outline-dark" type="button"
                        style="border-top-right-radius: 10px; border-bottom-right-radius: 10px">
                    <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
                        <path d="M15.5001 13.9999H14.7101L14.4301 13.7299C15.6301 12.3299 16.2501 10.4199 15.9101 8.38989C15.4401 5.60989 13.1201 3.38989 10.3201 3.04989C6.09014 2.52989 2.53014 6.08989 3.05014 10.3199C3.39014 13.1199 5.61014 15.4399 8.39014 15.9099C10.4201 16.2499 12.3301 15.6299 13.7301 14.4299L14.0001 14.7099V15.4999L18.2501 19.7499C18.6601 20.1599 19.3301 20.1599 19.7401 19.7499C20.1501 19.3399 20.1501 18.6699 19.7401 18.2599L15.5001 13.9999ZM9.50014 13.9999C7.01014 13.9999 5.00014 11.9899 5.00014 9.49989C5.00014 7.00989 7.01014 4.99989 9.50014 4.99989C11.9901 4.99989 14.0001 7.00989 14.0001 9.49989C14.0001 11.9899 11.9901 13.9999 9.50014 13.9999Z" fill="currentColor"></path>
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li th:each="parentCategory: ${parentCategories}" class="breadcrumb-item">
                <a th:href="@{/products(categoryId=${parentCategory.id}, pageSize=${9}, activePage=${1})}"
                   th:text="${parentCategory.name}" style="color: black;"></a>
            </li>
        </ol>
    </nav>
    <div class="d-flex mt-3 mb-5">
        <a th:each="childCategory : ${category.childCategories}"
           th:href="@{/products(categoryId=${childCategory.id}, pageSize=${9}, activePage=${1})}"
           th:text="${childCategory.name + ' (' + childCategory.childCategories.size() + ')'}"
           id="categories" class="me-2 badge rounded-pill bg-none text-dark"
           style="display: flex; border: 1px solid grey; height: 2.3rem; align-items: center; text-decoration: none; font-weight: normal; font-size: small"></a>
    </div>
</div>
<div class="container text-center">
    <div id="row" class="row gy-4 row-cols-lg-3 row-cols-md-2 row-cols-xs-1">
        <div th:each="prod : ${prods}" class="col">
            <div class="card" style="width: 20rem; height: 23rem">
                <img th:src="${prod.imageUrl}" class="mx-auto mt-4" style="width: 8rem;">
                <div class="card-body">
                    <h5 th:text="${prod.name}" class="card-title" style="font-size: medium"><b></b></h5>
                    <div class="container text-center">
                        <div th:each="product : ${prod.productEntities}" class="row align-items-center">
                            <div class="col ml-0" style="max-width: 100px; margin-top: 0.9rem">
                                <a th:href="@{${product.siteUrl}}" target="_blank"
                                   th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 2, 'POINT')} + ' &#x20B4;'"
                                   th:style="${product.isAvailable == true ? 'color: black;' + 'font-size: medium' : 'color: grey'}"></a>
                            </div>
                            <div class="col" style="max-width: 90px;">
                                <p th:text="${product.unit}" style="font-size: small; margin-top: 2rem; margin-right: 1rem"></p>
                            </div>
                            <div class="col" style="max-width: 55px; margin-top: 0.4rem">
                                <img th:src="${product.marketEntity.logoUrl}" width="70px" height="auto" style="margin-top: 0.7rem; margin-left: -0.5rem">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<nav>
    <ul class="pagination justify-content-center mt-3">
        <li class="page-item" th:classappend="${activePage == 1 ? 'disabled' : ''}">
            <a class="page-link"
               th:href="@{/products(categoryId=${category.id}, pageSize=${pageSize}, activePage=${activePage - 1}, productName=${productName})}">Previous</a>
        </li>
        <li th:each="page : ${pages}" class="page-item" th:classappend="${page.isActive ? 'active' : ''}">
            <a th:text="${page.pageNumber}" class="page-link"
               th:href="@{/products(categoryId=${category.id}, pageSize=${pageSize}, activePage=${page.pageNumber}, productName=${productName})}"></a>
        </li>
        <li class="page-item" th:classappend="${activePage == pages.size() ? 'disabled' : ''}">
            <a class="page-link"
               th:href="@{/products(categoryId=${category.id}, pageSize=${pageSize}, activePage=${activePage + 1}, productName=${productName})}">Next</a>
        </li>
    </ul>
</nav>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>