<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aggregate categories</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<div th:insert="~{header :: header}" style="margin-left: -1.5rem"></div>
<div class="container text-start">
    <div class="row mt-1 gy-4 row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
        <div th:each="parentCategory : ${parentCategories}" class="list-group">
            <a th:href="@{/products(categoryId=${parentCategory.id}, pageSize=${9}, activePage=${1})}" class="list-group-item list-group-item-action"
               style="font-weight: bold">
                <img th:src="${parentCategory.logoUrl}" th:text="${parentCategory.name}" class="img-fluid"
                     style="max-height: 25px; margin-right: 10px"></a>
            <a th:each="childCategory : ${parentCategory.childCategories}"
               th:href="@{/products(categoryId=${childCategory.id}, pageSize=${9}, activePage=${1})}" th:text="${childCategory.name + ' (' + childCategory.childCategories.size() + ')'}"
               class="list-group-item list-group-item-action"></a>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>