<!DOCTYPE html>
<html>
<body>
<header>
<!--    <a th:href="@{http://localhost:8080/}" class="list-group-item list-group-item-action"><img th:src="@{../static/logo.png}" class="img-fluid"-->
<!--                                                                                               style="max-width: 200px; margin-left: 5.2rem"></a>-->
    <a href="http://localhost:8080/" th:text="AGG" style="font-size: 50px; color: black; text-decoration: none; margin-left: 5.2rem"></a>
</header>
</body>
</html>
