<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aggregator product</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<body>
<div class="card" style="position: absolute; top: 50%; left: 50%; margin: -10rem 0 0 -10rem; width: 20rem; height: 20rem">
    <div class="card-body">
        <h3 class="card-title text-center mt-3 mb-4">Login</h3>
        <div th:if="${param.error}" class="alert alert-danger" role="alert">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}" class="alert alert-danger" role="alert">
            You have been logged out.
        </div>
        <form th:action="@{/login}" method="post">
            <div class="mb-1">
                <label for="exampleInputUsername1" class="form-label">Username</label>
                <input name="username" type="text" class="form-control" id="exampleInputUsername1" required>
            </div>
            <div class="mb-1">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input name="password" type="password" class="form-control" id="exampleInputPassword1" required>
            </div>
            <div class="row justify-content-center">
                <button type="submit" class="btn btn-primary mt-3" style="width: 91%">Log in</button>
            </div>
        </form>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>