<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Найближчий магазин</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>
    <style>
        .btn-light {
            --bs-btn-border-color: #000000;
            --bs-btn-hover-border-color: #000000;
            --bs-btn-active-border-color: #000000;
            --bs-btn-disabled-border-color: #000000;
        }
    </style>
</head>
<body>
<div th:insert="~{aggregate-header :: header}" style="margin-left: -1.5rem"></div>
<h2 style="margin-left: 3.8rem; margin-top: 1rem; margin-bottom: 1.5rem">Найближчий магазин</h2>
<div>
    <b style="margin-left: 3.8rem; margin-top: 1rem">Оберіть точку на карті:</b>
    <form id="coords-form" style="margin-left: 3.8rem; margin-top: 1rem; margin-bottom: 1rem" th:action="@{/markets/distances}" method="post">
        <div class="row g-3">
            <div class="col-auto">
                <input type="text" class="form-control" id="lat" name="lat" placeholder="Широта">
            </div>
            <div class="col-auto">
                <input type="text" class="form-control" id="lng" name="lng" placeholder="Довгота">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-light mb-3">ОК!</button>
            </div>
        </div>
        <div id="map" style="height: 490px; width: 490px;"></div>
    </form>
    <div th:if="${markets}">
        <b style="margin-left: 3.8rem; margin-top: 1rem">Магазини поблизу:</b>
        <div th:each="marketDist : ${markets}" class="row" style="width: 850px; margin-top: 1rem">
            <div class="col" style="max-width: 55px; margin-left: 3.8rem; margin-top: 0.5rem">
                <img th:src="${marketDist.market.logoUrl}" width="70px" height="auto" style="margin-top: -1rem">
            </div>
            <div class="col" style="margin-left: 4rem">
                <a th:text="${marketDist.market.address}"></a>
            </div>
            <div class="col" style="margin-left: -8rem">
                <span th:text="${marketDist.distance + ' м'}"></span>
            </div>
        </div>
    </div>
</div>

<script>
    var map = L.map('map').setView([50.445478, 30.520461], 15);
    var tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    var marker = L.marker([50.445478, 30.520461]).addTo(map);

    function updateInputs(lat, lng) {
        document.getElementById('lat').value = lat.toFixed(6);
        document.getElementById('lng').value = lng.toFixed(6);
    }

    function onMapClick(e) {
        const {lat, lng} = e.latlng;
        marker.setLatLng([lat, lng]);
        updateInputs(lat, lng);
    }

    map.on('click', onMapClick);
    updateInputs(50.445478, 30.520461);
</script>

<script th:inline="javascript">
    var markets = [[${markets}]];
    console.log("Markets from server:", markets);

    markets.forEach(function (marketDist) {
        var lat = marketDist.market.latitude;
        var lng = marketDist.market.longitude;
        var logoUrl = marketDist.market.logoUrl;

        var customIcon = L.icon({
            iconUrl: logoUrl,
            iconSize: [70],
            iconAnchor: [20, 40],
            popupAnchor: [0, -40]
        });
        var marketMarker = L.marker([lat, lng], {icon: customIcon}).addTo(map);
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>